<div class="row align-center">
  <div class="medium-6 columns">
    <header>
      <h5>This is my landing page, your email is <%= current_user.email %></h5>
      <h6>I am using Rails <%= Rails.version %> </h6>
    </header>

    <section>
      <p>
        Future home of Jonathan's Dashboard
      </p>
      <%= link_to "log out", destroy_user_session_path, method: :delete %>
    </section>
  </div>
</div>
