<div class="row align-middle flex-wrapper" ng-controller="IndexController">



<div class="columns">

  <div class="row align-left">
    <div class="medium-7 small-12 columns">
      <h1 class="text-left">Jonathan Ortiz</h1>
      <h1 class="text-left">Full Stack Developer</h1>
      <h5 class="text-justify">
        Self taught developer/designer from the Bay Area California. I specialize in AngularJS and Ruby on Rails. Currently working at TuneIn in San Francisco Ca.

      </h5>
    </div>
  </div>

  <div class="row align-left">
    <div class="medium-6 small-12 columns">
      <ul class="menu">
        <li><a href="#"><i class="ion-social-github main-icon"></i></a></li>
        <li><a href="#"><i class="ion-social-linkedin main-icon"></i></a></li>
        <li><a href="#"><i class="ion-social-instagram main-icon"></i></a></li>
        <li><a href="#" class="button radius"><i class="ion-paper-airplane"> Email Me</i></a></li>
      </ul>
    </div>
  </div>

</div>

</div>
