<div ng-controller="ProjectSearchController">

  <div class="row align-center">
    <div class="medium-7 columns">
      <header>
        <h3 class="text-center">Filter</h3>
        <hr>
      </header>
    </div>
  </div>

  <div class="row align-center">
    <div class="medium-7 columns">
      <form>
        <div class="input-group">
          <label for="keywords" class="input-group-label">keywords</label>
          <input  type="text"
          name="keywords"
          class="input-group-field"
          placeholder="React, Rails, etc.."
          ng-change="search(keywords)"
          ng-model="keywords">
        </div>
      </form>
    </div>
  </div>

  <div class="row align-center" ng-if="projects.length > 3">
    <div class="medium-7 columns">
      <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        <li class="pagination-previous <%= page == 0 ? 'disabled' : '' %> ">
          <a href="" ng-click="previousPage()">Previous</a>
        </li>
        <li class="pagination-next">
          <a href="" ng-click="nextPage()">Next</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="row align-center margin">
    <div class="medium-7 columns">
      <div class="card clearfix" ng-repeat="project in projects">
        <img src="{{project.img_url}}" class="projImg">
        <span class="title">{{project.name}}</span>
        <p>{{project.description}}</p>
        <a class="button" ng-click="viewDetails(project)">Details</a>
      </div>
    </div>
  </div>








</div>
