  <div class="row align-center" ng-controller="ProjectsController">
    <div class="medium-7 columns">
      <header>
        <h3 class="text-center">Projects <a href="#/search"><i class="ion-ios-search"></i></a></h3>
        <hr>
      </header>
    </div>
  </div>


<div class="row align-center">
  <div class="medium-8 columns">
    <div ng-repeat="project in projects">
      <div class="row align-middle project-card clearfix" data-closable="slide-out-right">
        <div class="columns show-for-small-only">
          <img src="{{project.img_url}}" alt="{{project.name}} img" class="miniImg float-center" />
        </div>

          <div class="medium-6 small-12 columns">
            {{project.name}}
            <h6>{{project.description}}</h6>
            <h6>{{project.technologies}}</h6>
            <a class="button show-for-medium" href="#{{project.id}}">Details</a>
            <a class="button expanded show-for-small-only" href="#{{project.id}}">Details</a>
          </div>

          <div class="medium-6 columns show-for-medium">
            <img src="{{project.img_url}}" alt="{{project.name}} img" class="projImg float-right" />
          </div>



        </div>
      </div>
    </div>
  </div>
