/*
 *
 *= require foundation
 *= require ionicons
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides



 */
@import "foundation_and_overrides";

@font-face {
   font-family: "foundation-icons";
   src:url("fonts/foundation-icons.eot");
   src:url("fonts/foundation-icons.eot?#iefix") format("embedded-opentype"),
        url("fonts/foundation-icons.woff") format("woff"),
        url("fonts/foundation-icons.ttf") format("truetype"),
        url("fonts/foundation-icons.svg#fontcustom") format("svg");
   font-weight: normal;
   font-style: normal;
 }


 // GLOBALS
$main-bg-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.61)), url(images/mainbg.jpg);
$asbestos: #7f8c8d;
$midnight-blue: #34495e;

.off-canvas-content {
  min-height: 100vh;
}

// RESPONSIVE NAVBAR STYLES (SMALL SCREEN NAV)
.nav-icon {
  font-size: 1.6em;
  padding: 0;
  margin: 4px 0 0 10px;
}

.nav-title {
  font-size: 1.5em;
}



.menu a:hover {
  border-bottom: 1px solid $green-sea;
  border-top: 1px solid $green-sea;
}

// PROJECT DETAIL STYLE
.callout  {

  border: 2px solid $light-gray;
  border-radius: 3px;

  .callout-header {
    background-color: $black;
    color: $light-gray;
  }

  .thumbnail {
    border: none;
  }

  .project-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

}

 // CSS FOR CARD
.card {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;

  .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem;
  }
  a {
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
  }

  img {
    max-width: 150px;
    min-height: 150px;
  }

}

// MEDICA QUERIES
// MEDIUM SCREEN
@media(max-width: 768px){

}

// SMALL SCREEN
@media(max-width: 639px){
  .title-bar {
    min-height: 50px;
  }
  .top-bar {
    display: none;
  }
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {

}

@media only screen
and (min-device-width : 568px)
and (max-device-width : 320px)
and (orientation : landscape) {

}
