<div class="row align-center sticky-footer top-bar">
  <div class="small-4 columns">
    <a href="#"><i class="ion-social-instagram-outline footer-icon"></i></a>
  </div>
  <div class="small-4 columns">
    <a href="#"><i class="ion-social-github-outline footer-icon"></i></a>
  </div>
  <div class="small-4 columns">
    <a href="#"><i class="ion-social-linkedin-outline footer-icon"></i></a>
  </div>
</div>
