<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <i class="nav-icon fi-skull" data-toggle="offCanvas"></i>
  <div class="nav-title float-right">Jonathan</div>
</div>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Site title</li>

    </ul>

  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#/">home</a></li>
      <li><a href="#/projects">projects</a></li>
      <li><a href="#/about">about</a></li>
    </ul>
  </div>

</div>
